.medal-btn {
  position:relative;
  padding: 6px 15px;
  cursor: pointer;
  color: #fff;
}

.primary-btn {
  border: 2px solid rgb(101, 182, 43);
  background-color:rgb(101, 182, 43);
  font-weight: 600;
}

.primary-btn:hover  {
  background-color:#fafafa;
  color:rgb(101, 182, 43);
}

.default-btn {
  border: 2px solid #fff;
  background-color:#000;
  font-weight: 600;
}

.default-btn:hover  {
  background-color:#fff;
  color:#000;
}


.danger-btn {
  color: #fff;
  border: 2px solid #f7f4f5;
  background-color:#e70d3c;
}

.danger-btn:hover  {
  background-color:#a30909;
  color:#fff;
}